.navbar.navbar-default(role='navigation')
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/') Vinyl
    .navbar-collapse.collapse
      ul.nav.navbar-nav
        li(class=(title === 'Home' ? 'active' : ''))
          a(href='/') Home
        li(class=(title === 'Sign up for Vinyl' ? 'active' : '' ))
          a(href='/users/register') Register
        li(class=(title === 'Sign In' ? 'active' : '' ))
          a(href='/users/login') Login
      ul.nav.navbar-nav.navbar-right
        li
          a(href='/users/logout') Logout
