extends layout.pug

block content
  .container-form
    .row
      .col-md-4
      .col-md-4
        .form-area
          if errors
            each error in errors
              div.alert.alert-danger #{error.msg}
          form(role='form' method='post' action='/albums/' + album.id + '/new-review')
            br(style='clear:both')
            h3(style='margin-bottom: 25px; text-align: center;') New Review for 
              a(href='/albums/' + album.id) #{album.title}
            .form-group
              textarea#message.form-control(type='textarea', name='review' placeholder='What did you think of ' + album.title, rows='10')
            .submit-box
              input.btn.btn-primary#submit(type='submit', value='Submit')
      .col-md-4
