extends layout.pug

block content
  
  .container
    .buttons-container
      a.btn.btn-secondary(href='/users/register', role='button') Sign Up
      a.btn.btn-secondary(href='/users/login', role='button') Log In
