doctype html
html
  head
    title Vinyl
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    link(rel="stylesheet", href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', type='text/css', href='/style.css')
    script(type='text/javascript', src='/script.js')
  body
    .navbar.navbar-default(role='navigation')
      .container-header
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') Vinyl
        .navbar-collapse.collapse
          ul.nav.navbar-nav
            li(class=(title === 'Albums' ? 'active' : ''))
              a(href='/') Home
            if !user
              li(class=(title === 'Sign up for Vinyl' ? 'active' : '' ))
                a(href='/users/register') Register
              li(class=(title === 'Sign In' ? 'active' : '' ))
                a(href='/users/login') Login
            else
              li(class=(title === 'Profile' ? 'active' : '' ))
                a(href='/users/' + user.id) Profile
          ul.nav.navbar-nav.navbar-right
            if user
              li
                a(href='/users/logout') Logout
    .container
      != messages()
    block content
