extends layout.pug

block content
  include ./partials/header
  
  .container
    .row
      .col-md-offset-5.col-md-3
        .form-login
        form(method='post', action='/users/login')
          h4 #{title}
          input#email.form-control.input-sm.chat-input(type='email', name='email', placeholder='email')
          br
          input#userPassword.form-control.input-sm.chat-input(type='password', name='password', placeholder='password')
          br
          .wrapper
          span.group-btn
          input.btn.btn-primary(type='submit', name='submit',value='Login')
